@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://img.freepik.com/premium-photo/idea-comment-think-reactions-emoji-3d-render-social-media-balloon-symbol-with-comment-icons-pattern-background_41204-22608.jpg?size=626&ext=jpg");
  
  background-position: center;
  background-size: cover;
  /* background-color: skyblue; */
  background-repeat: no-repeat;
  color:black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


